*{
    padding: 0;
    margin: 0;
}


.container{
    display: inline-block;
    background-color: orange;
    height: 100vh;
    width: 50%;
}


.divOne, .divTwo{
    background-color: blue;
    width: 40%;
    height: 100px;
    display: inline-block;
    margin-right: 50px;
}

@media only screen and (max-width: 768px){
    .divOne{
        background-color: yellow;
    }
}

@media only screen and (max-width: 500px){
    .divOne{
        background-color: red;
    }
    .divTwo{
        display: none;
    }
}
/* You can hide elements on the page  */